<div id="abovefold">
    <div class="container">
        <div id="mainiphone">
            <img src="/assets/iphoneabovefold3.png">
        </div>
        <div id="logotop">
            <img src="/assets/homespreelogo1.png">
        </div>
        <div id="quotetop">
            <b>The smart way to get home improvement estimates.</b>
        </div>
        <div class="submitbutton">
            <a href="#myModal" role="button" class="btn btn-large btn-block btn-primary input-block-level" data-toggle="modal" type="button">Sign up for early access! It's Free!</a>
        </div>
        <div class="topsocialicons">
            <div class="topfacebook">
                <a href="https://www.facebook.com/pages/Homespree/382209228538731" target="_blank"><img src="/assets/facebooklight.png" onmouseover="this.src='/assets/facebookdark.png'" onmouseout="this.src='/assets/facebooklight.png'" /></a>
            </div>
            <div class="toptwitter">
             <a href="https://twitter.com/homespree" target="_blank"><img src="/assets/twitterlight.png" onmouseover="this.src='/assets/twitterdark.png'" onmouseout="this.src='/assets/twitterlight.png'" /></a>
             </div>
             <div class="toppinterest">
             <a href="http://pinterest.com/homespree/" target="_blank"><img src="/assets/pinterestlight.png" onmouseover="this.src='/assets/pinterestdark.png'" onmouseout="this.src='/assets/pinterestlight.png'" /></a>
             </div>
        </div>
    </div>
</div>
	<!-- <div class="row">
		<div class="container">
			<div class="emptyspace">
			</div>
			<div  class="mainquote center">
				The smartest way to get home improvement estimates
			</div>
			<div class="span2 offset3 inputfield">
				<a href="#myModal" role="button" class="btn btn-large btn-primary" data-toggle="modal">Signup Free</a>
			</div>
		</div>
	</div> -->
<div class="container">
    <div class="underphonetext">
        Free home improvement estimates on your smartphone
    </div>
    <div id="iphones">
        <img src="/assets/3_iphones.png">
    </div>
    <div class="description center">
        <!--Take the hassle out of your next home improvement project with help from Homespree. -->Use your smartphone to capture a few images and details. Contractors will then submit competitive bids for your job, allowing you to make a more informed decision.
    </div>
    <div class="submitbutton2">
            <a href="#myModal" role="button" class="btn btn-large btn-block btn-primary input-block-level" data-toggle="modal" type="button">Sign up and take the hassle out of your next home improvement project!</a>
    </div>
</div>
<div class="container">
    <div class="steps">
        <div class="step2">
            <div class="steptitle">
                Convenient
            </div>
            <div class="step2picture">
                <img src="/assets/clock.png">
            </div>
             <div class="stepquote">
                No more waiting for contractors
            </div>
        </div>
        <div class="step1">
            <div class="steptitle">
                Simple
            </div>
            <div class="step1picture">
                <img src="/assets/camera4.png">
            </div>
            <div class="stepquote">
                Requires only a few pictures and some simple details
            </div>
        </div>
        <div class="step3">
            <div class="steptitle">
                Cost-Effective
            </div>
            <div class="step3picture">
                <img src="/assets/tags2.png">
            </div>
             <div class="stepquote">
                Competitive bids ensure a fair price
            </div>
        </div>
</div>
<div class="bottomsocialmedia">
    <div class="facebookicon_bottom">
        <a href="https://www.facebook.com/pages/Homespree/382209228538731" target="_blank"><img src="/assets/facebooklight_long.png" onmouseover="this.src='/assets/facebookdark_long.png'" onmouseout="this.src='/assets/facebooklight_long.png'" /></a>
    </div>
    <div class="twittericon_bottom">
        <a href="https://twitter.com/homespree" target="_blank"><img src="/assets/twitterlight_long.png" onmouseover="this.src='/assets/twitterdark_long.png'" onmouseout="this.src='/assets/twitterlight_long.png'" /></a>
    </div>
</div>


<!-- Confirm Modal -->
<%if params[:ref] == "confirm" %>
    <div id="confirmModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel" class="center">Thank You!</h3>
      </div>
      <div class="modal-body center">
        <p>We just emailed you a confirmation. Please confirm your sign up to be notified when we launch!
        <br>
        <hr>
          <div class="fb-like" data-href="http://www.facebook.com/pages/Homespree/382209228538731" data-send="false" data-width="350" data-show-faces="false"></div>  

        <a href="https://twitter.com/share" class="twitter-share-button" data-related="jasoncosta" data-lang="en" data-size="large" data-count="none" data-text="I signed up for @homespree. The smart way to get home improvement estimates! myhomespree.com">Tweet</a>
      
        </p>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      </div>
    </div>
<%end%>
<!-- End Confirm Modal -->







<!-- Modal -->
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h1 id="myModalLabel" class="center">Wanna be notified when we launch? </h1>
  </div>
  <div class="modal-body">
    <p>






<!-- Begin MailChimp Signup Form -->
<link href="http://cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="http://myhomespree.us6.list-manage.com/subscribe/post?u=b6b7db49821d0d51ebe2e0e7f&amp;id=6392f20400" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	
<div class="mc-field-group">
	<label for="mce-EMAIL"><strong>Email Address</strong></label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group input-group">
    <ul><li><label for="mce-group[3093]-3093-0">Are you a contractor? If so, check box:   </label><input type="checkbox" value="1" name="group[3093][1]" id="mce-group[3093]-3093-0"></li>
</ul>
</div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>	
	<div class="clear span3 offset2">
		<input type="submit" value="Sign up!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-large btn-block btn-primary">
	</div>
</form>
</div>
<script type="text/javascript">
var fnames = new Array();var ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';
try {
    var jqueryLoaded=jQuery;
    jqueryLoaded=true;
} catch(err) {
    var jqueryLoaded=false;
}
var head= document.getElementsByTagName('head')[0];
if (!jqueryLoaded) {
    var script = document.createElement('script');
    script.type = 'text/javascript';
    script.src = 'http://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js';
    head.appendChild(script);
    if (script.readyState && script.onload!==null){
        script.onreadystatechange= function () {
              if (this.readyState == 'complete') mce_preload_check();
        }    
    }
}
var script = document.createElement('script');
script.type = 'text/javascript';
script.src = 'http://downloads.mailchimp.com/js/jquery.form-n-validate.js';
head.appendChild(script);
var err_style = '';
try{
    err_style = mc_custom_error_style;
} catch(e){
    err_style = '#mc_embed_signup input.mce_inline_error{border-color:#6B0505;} #mc_embed_signup div.mce_inline_error{margin: 0 0 1em 0; padding: 5px 10px; background-color:#6B0505; font-weight: bold; z-index: 1; color:#fff;}';
}
var head= document.getElementsByTagName('head')[0];
var style= document.createElement('style');
style.type= 'text/css';
if (style.styleSheet) {
  style.styleSheet.cssText = err_style;
} else {
  style.appendChild(document.createTextNode(err_style));
}
head.appendChild(style);
setTimeout('mce_preload_check();', 250);

var mce_preload_checks = 0;
function mce_preload_check(){
    if (mce_preload_checks>40) return;
    mce_preload_checks++;
    try {
        var jqueryLoaded=jQuery;
    } catch(err) {
        setTimeout('mce_preload_check();', 250);
        return;
    }
    try {
        var validatorLoaded=jQuery("#fake-form").validate({});
    } catch(err) {
        setTimeout('mce_preload_check();', 250);
        return;
    }
    mce_init_form();
}
function mce_init_form(){
    jQuery(document).ready( function($) {
      var options = { errorClass: 'mce_inline_error', errorElement: 'div', onkeyup: function(){}, onfocusout:function(){}, onblur:function(){}  };
      var mce_validator = $("#mc-embedded-subscribe-form").validate(options);
      $("#mc-embedded-subscribe-form").unbind('submit');//remove the validator so we can get into beforeSubmit on the ajaxform, which then calls the validator
      options = { url: 'http://myhomespree.us6.list-manage.com/subscribe/post-json?u=b6b7db49821d0d51ebe2e0e7f&id=6392f20400&c=?', type: 'GET', dataType: 'json', contentType: "application/json; charset=utf-8",
                    beforeSubmit: function(){
                        $('#mce_tmp_error_msg').remove();
                        $('.datefield','#mc_embed_signup').each(
                            function(){
                                var txt = 'filled';
                                var fields = new Array();
                                var i = 0;
                                $(':text', this).each(
                                    function(){
                                        fields[i] = this;
                                        i++;
                                    });
                                $(':hidden', this).each(
                                    function(){
                                        var bday = false;
                                        if (fields.length == 2){
                                            bday = true;
                                            fields[2] = {'value':1970};//trick birthdays into having years
                                        }
                                    	if ( fields[0].value=='MM' && fields[1].value=='DD' && (fields[2].value=='YYYY' || (bday && fields[2].value==1970) ) ){
                                    		this.value = '';
									    } else if ( fields[0].value=='' && fields[1].value=='' && (fields[2].value=='' || (bday && fields[2].value==1970) ) ){
                                    		this.value = '';
									    } else {
									        if (/\[day\]/.test(fields[0].name)){
    	                                        this.value = fields[1].value+'/'+fields[0].value+'/'+fields[2].value;									        
									        } else {
    	                                        this.value = fields[0].value+'/'+fields[1].value+'/'+fields[2].value;
	                                        }
	                                    }
                                    });
                            });
                        return mce_validator.form();
                    }, 
                    success: mce_success_cb
                };
      $('#mc-embedded-subscribe-form').ajaxForm(options);
      
      
    });
}
function mce_success_cb(resp){
    $('#mce-success-response').hide();
    $('#mce-error-response').hide();
    if (resp.result=="success"){
        document.location.href = '/?ref=confirm';
    } else {
        var index = -1;
        var msg;
        try {
            var parts = resp.msg.split(' - ',2);
            if (parts[1]==undefined){
                msg = resp.msg;
            } else {
                i = parseInt(parts[0]);
                if (i.toString() == parts[0]){
                    index = parts[0];
                    msg = parts[1];
                } else {
                    index = -1;
                    msg = resp.msg;
                }
            }
        } catch(e){
            index = -1;
            msg = resp.msg;
        }
        try{
            if (index== -1){
                $('#mce-'+resp.result+'-response').show();
                $('#mce-'+resp.result+'-response').html(msg);            
            } else {
                err_id = 'mce_tmp_error_msg';
                html = '<div id="'+err_id+'" style="'+err_style+'"> '+msg+'</div>';
                
                var input_id = '#mc_embed_signup';
                var f = $(input_id);
                if (ftypes[index]=='address'){
                    input_id = '#mce-'+fnames[index]+'-addr1';
                    f = $(input_id).parent().parent().get(0);
                } else if (ftypes[index]=='date'){
                    input_id = '#mce-'+fnames[index]+'-month';
                    f = $(input_id).parent().parent().get(0);
                } else {
                    input_id = '#mce-'+fnames[index];
                    f = $().parent(input_id).get(0);
                }
                if (f){
                    $(f).append(html);
                    $(input_id).focus();
                } else {
                    $('#mce-'+resp.result+'-response').show();
                    $('#mce-'+resp.result+'-response').html(msg);
                }
            }
        } catch(e){
            $('#mce-'+resp.result+'-response').show();
            $('#mce-'+resp.result+'-response').html(msg);
        }
    }
}

</script>
<!--End mc_embed_signup-->





    </p>
  </div>
  <!-- <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary">Save changes</button>
  </div> -->
</div>

