@import"bootstrap";

@font-face {
    font-family: 'Lobster13Regular';
    src: url(font-path('Lobster_1.3-webfont.eot') +"?#iefix") format('embedded-opentype'),
         url(font-path('Lobster_1.3-webfont.woff')) format('woff'),
         url(font-path('Lobster_1.3-webfont.ttf')) format('truetype'),
         url(font-path('Lobster_1.3-webfont.svg') + "#MyFont") format('svg');
}


body{
	padding-bottom: 100px;
	background-image: url('/assets/texturelight.gif')	;
}

.floatleft{
	float: left;
}
.center{
	text-align: center;
}

#mainlogo{
	padding-left: 60px;
	padding-top: 105px;
	float:left;
	font-family:"Lobster13Regular", Times, serif;
	font-size: 7.7em;
	color: #303030;

}
.middle{
}

#abovefold{
	background: url('/assets/livingroombackground4.png') no-repeat;
	background-size: 100% 100%;
	height: 450px;
	width: 100%;
}

.emptyspace{
	float: left;
	height: 650px;
	width: 400px;
}

.mainquote{
	margin-left: 125px;
	float:left;
	width: 400px;
	padding-top:250px;
	font-size:2.5em;
	line-height: 35px;
	font-family:Impact, Charcoal, sans-serif;
	color: #303030;

}

.inputfield{
	padding-left: 30px;
	padding-top:100px;
}

#iphones{
	margin-top: 25px;
	height: 475px;
}

.steps{
	margin-left: 40px;
	margin-top: 40px;
}
.step1{
	padding: 0;
	width:267px;
	float:left;
	height: 300px;
}

.step2{
	width:267px;
	float:left;
	height: 300px;
}

.step3{
	width:267px;
	float:left;
	height: 300px;
}

.steptitle{
	font-family:Impact, Charcoal, sans-serif;
	padding-top: 25px;
	font-size: 3em;
	text-align: center;
	height:50px;
}

.step1picture{
	padding-bottom: 7px;
	width:135px;
	margin-left: 80px;
	margin-top: 3px;
}

.step2picture{
	width:110px;
	margin-left: 90px;
	height:85px;
}

.step3picture{
	width:100px;
	margin-left: 90px;
	height: 85px;
}
.stepquote{
	font-family:Arial, Helvetica, sans-serif;
	letter-spacing: 1px;
	margin-top: 10px;
	font-size: 1.5em;
	line-height: 20px;
	text-align:center;

}

.underphonetext{
	font-family:Impact, Charcoal, sans-serif;
	font-size: 3em;
	width: 700px;
	line-height: 40px;
	text-align: center;
	margin-left: 120px;
	margin-top: 20px;
}

.description{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	width: 700px;
	line-height: 25px;
	text-align: center;
	margin-left: 120px;
	margin-top: 10px;
}


.mainiphone{
	float: left;
	padding-top: 29px;
	width: 375px;
	margin-left: -40px;
}
.logotop{
	float:left;
	width: 540px;
	margin-left: 35px;
}

.quotetop{
	margin-left: 105px;
	float:left;
	font-size: 2.2em;
	line-height: 35px;
	text-align: center;
	width: 400px;
	color: black;
	font-family:Impact, Charcoal, sans-serif;
}

.submitbutton{
	margin-left: 130px;
	float:left;
	width: 350px;
	margin-top: 40px;
}

.submitbutton2{
	margin-left: 165px;
	width: 600px;;
	margin-top: 40px;
}

.input-block-level{
  display: block;
  font-family:Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
}

.facebookicon_bottom{
	margin-left: 120px;
	float: left;
	width:300px;
	background-image: url('/assets/facebooklight_long.png');
	background-size:300px 55px;
	background-repeat:no-repeat;
}

.twittericon_bottom{
	margin-left: 100px;
	float: left;
	width:300px;
	background-image: url('/assets/twitterlight_long.png');
	background-size:300px 55px;
	background-repeat:no-repeat;
}
.topsocialicons{
	float:left;
	position: right;
	margin-left: 360px;
	margin-top: 10px;
}

.topfacebook{
	float:left;
	background-image: url('/assets/facebooklight.png');
	background-repeat:no-repeat;
}

.toptwitter{
	float: left;
	background-image: url('/assets/twitterlight.png');
	background-repeat:no-repeat;
}

.toppinterest{
	float:left;
	background-image: url('/assets/pinterestlight.png');
	background-repeat:no-repeat;
}