@import"bootstrap";

.navbar-inner {
  background-color: #FF0000; /* fallback color, place your own */

  /* Gradients for modern browsers, replace as you see fit */
  background-image: -moz-linear-gradient(top, #333333, #222222);
  background-image: -ms-linear-gradient(top, #333333, #222222);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#333333), to(#222222));
  background-image: -webkit-linear-gradient(top, #333333, #222222);
  background-image: -o-linear-gradient(top, #333333, #222222);
  background-image: linear-gradient(top, #333333, #222222);
  background-repeat: repeat-x;

  /* IE8-9 gradient filter */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
}

.navbar-inner {
  background-color: #003366; /* background color will be black for all browsers */
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

@font-face {
    font-family: 'Lobster13Regular';
    src: url(font-path('Lobster_1.3-webfont.eot') +"?#iefix") format('embedded-opentype'),
         url(font-path('Lobster_1.3-webfont.woff')) format('woff'),
         url(font-path('Lobster_1.3-webfont.ttf')) format('truetype'),
         url(font-path('Lobster_1.3-webfont.svg') + "#MyFont") format('svg');
}

p{
	color: black;
}
body{
	padding-bottom: 100px;
	background-image: url('/assets/texturelight.gif')	;
}

h4{
	color:gray;
}

h3{
	color:gray;
}

.floatleft{
	float: left;
}
.center{
	text-align: center;
}

#mainlogo{
	padding-left: 60px;
	padding-top: 105px;
	float:left;
	font-family:"Lobster13Regular", Times, serif;
	font-size: 7.7em;
	color: #303030;

}
.middle{
}

#abovefold{
	margin-top:53px;
	background: url('/assets/livingroombackground2.png') no-repeat;
	background-size: 100% 100%;
	height: 450px;
	width: 100%;
}

.emptyspace{
	float: left;
	height: 650px;
	width: 400px;
}

.mainquote{
	margin-left: 125px;
	float:left;
	width: 400px;
	padding-top:250px;
	font-size:2.5em;
	line-height: 35px;
	font-family:Tahoma, Geneva, sans-serif;
	color: #303030;

}

.inputfield{
	padding-left: 30px;
	padding-top:100px;
}

#iphones{
	margin-left: 20px;
	margin-top: 25px;
	height: 475px;
}


.steps{
	margin-top: 40px;
	margin-left: 80px;
}
.step1{
	padding: 0;
	width:250px;
	float:left;
	height: 250px;
}


.step2{
	width:250px;
	float:left;
	height: 250px;
}

.step3{
	padding-left: 20px;
	width:250px;
	float:left;
	height: 250px;

}



.steptitle{
	font-family:Tahoma, Geneva, sans-serif;
	padding-top: 25px;
	font-size: 3em;
	text-align: center;
	height:50px;
}

.step1picture{
	width:95px;
	margin-left: 76px;
	padding-top: 0px;
}

.step2picture{
	width:110px;
	margin-left: 90px;
}

.step3picture{
	width:100px;
	margin-left: 90px;
}
.stepquote{
	font-family:Tahoma, Geneva, sans-serif;
	letter-spacing: 1px;
	margin-top: 10px;
	font-size: 1.5em;
	line-height: 20px;
	text-align:center;

}

.underphonetext{
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 3em;
	width: 700px;
	line-height: 40px;
	text-align: center;
	margin-left: 120px;
	margin-top: 20px;
}

.description{
	font-family:Tahoma, Geneva, sans-serif;
	font-size: 1.5em;
	width: 620px;
	line-height: 25px;
	text-align: center;
	margin-left: 160px;
}


#mainiphone{
	float: left;
	padding-top: 29px;
	width: 375px;
	height:421px;
	margin-left: -40px;
	display: none;
}
#logotop{
	float:left;
	width: 540px;
	margin-left: 35px;
}

#quotetop{
	margin-left: 105px;
	float:left;
	font-size: 2.2em;
	line-height: 35px;
	text-align: center;
	width: 400px;
	color: black;
	font-family:Tahoma, Geneva, sans-serif;
	display: none;
}

.submitbutton{
	margin-left: 130px;
	float:left;
	width: 350px;
	margin-top: 40px;
}

.submitbutton2{
	margin-left: 165px;
	width: 600px;;
	margin-top: 40px;
}

.input-block-level{
  display: block;
  font-family:Tahoma, Geneva, sans-serif;
  letter-spacing: 1px;
}

.facebookicon_bottom{
	margin-left: 125px;
	float: left;
	width:300px;
	background-image: url('/assets/facebooklight_long.png');
	background-size:300px 55px;
	background-repeat:no-repeat;
}

.twittericon_bottom{
	margin-left: 100px;
	float: left;
	width:300px;
	background-image: url('/assets/twitterlight_long.png');
	background-size:300px 55px;
	background-repeat:no-repeat;
}
.topsocialicons{
	float:left;
	position: right;
	margin-left: 360px;
	margin-top: 10px;
}

.topfacebook{
	float:left;
	background-image: url('/assets/facebooklight.png');
	background-repeat:no-repeat;
}

.toptwitter{
	float: left;
	background-image: url('/assets/twitterlight.png');
	background-repeat:no-repeat;
}

.toppinterest{
	float:left;
	background-image: url('/assets/pinterestlight.png');
	background-repeat:no-repeat;
}

/*START Navigation*/

#navlogo{
	font-family:"Lobster13Regular", Times, serif;
	float: left;
	margin-right: 10px;
	font-size: 2.5em;
	  color: #fff;
	  letter-spacing: -1px;
	  padding-top: 9px;
	  font-weight: bold;
	  line-height: 1;
	  padding-bottom: 9px;
}

#navlogo:hover {
	color: #fff;
  	text-decoration: none;
}

.margintop{
	margin-top: 44px;
}

.sidenav{
	float:left;
	margin-top: 20px;
	color: blue;
}

.descriptiontext{
	float:left;
	margin-top: 20px;
	color: #143982;
}





/*END Navigation*/

/*START Footer*/

 html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
      }
      #footer {
      	margin-top: 45px;
  		padding-top: 5px;
  		border-top: 1px solid #eaeaea;
 	 	color: #999;

        font-size: 1.3em;

      }


#footer a {
  color: #143982;
}
#footer a:hover {
  color: gray;
  text-decoration:none;
}
#footer small {
  float: left;
}
#footer ul {
	margin-left: 273px;
  list-style: none;
}
#footer ul li {
  float: left;
  margin-left: 10px;
}

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

.activebackground{
	background-color: black;
}



